*{
    font-family: 'Open Sans', ;
    text-align: center;
}

/* Heading */

#game-title {
    font-family: 'sans-serif', cursive;
    color: slategray;
    
}

#result {
    font-family: 'sans-serif',cursive;
    font-size: 60px;
  }

/* Game Area */
.container {
    background:#00FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid #000;
    box-sizing: border-box;
  }



.player-choice {
    width: 80%;
    height: 300px;
    margin: auto;
    padding: 10px;
}

.game-results {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

/* Results Area */

#vs {
    padding: 10px;
    margin: auto;
    font-family: cursive;
    font-size: xx-large;
    vertical-align: middle;
    color: #070707;

}

/* Score Area */

.score {
    display: inline;
    font-family: 'sans-serif',cursive;
    font-size: xx-large;
    color:#000000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#reset {
    margin: 30px;
    width: 70px;
    height: 70px;
    border: 0;
    background-color: #171616;
    color: gray;
    border: none;
    border-radius: 8px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}





/* Buttons for controls */

.btn {
    margin: 30px;
    width: 120px;
    height: 120px;
    border: 0;
    background-color: lightgrey;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(122, 116, 116, 0.5);
    background-color: #383231;
    color: #fff;
    font-size: 90px;
    margin: 0;
    padding: 10px;
}
.attemptbtn{
    margin: 30px;
    width: 70px;
    height: 70px;
    border: 0;
    background-color:#2b3d59 ;
    color: gray;
    border: none;
    border-radius: 8px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
